<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>shiro framework</title>
</head>
<body>
<!--    <%&#45;&#45; 设置资源访问受限 &#45;&#45;%>
    <h1>系统主页V1.0</h1><a href="${pageContext.request.contextPath}/user/logout">退出登录</a>
    <ul>
        <shiro:hasAnyRoles name="user_manager, admin, addinfo_manager">
            <li><a href=""> 用户管理</a>
                <ul>
                    <shiro:hasPermission name="user:add:*">
                        <li><a href=""> 添加 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:delete:*">
                        <li><a href=""> 删除 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:update:*">
                        <li><a href=""> 修改 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:find:*">
                        <li><a href=""> 查询 </a> </li>
                    </shiro:hasPermission>
                </ul>
            </li>
        </shiro:hasAnyRoles>

        <shiro:hasAnyRoles name="user_manager, admin, addinfo_manager">
            <li><a href=""> 订单管理</a>
                <ul>
                    <shiro:hasPermission name="user:add:*">
                        <li><a href=""> 添加 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:delete:*">
                        <li><a href=""> 删除 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:update:*">
                        <li><a href=""> 修改 </a> </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="user:find:*">
                        <li><a href=""> 查询 </a> </li>
                    </shiro:hasPermission>
                </ul>
            </li>
        </shiro:hasAnyRoles>

        <shiro:hasRole name="admin">
            <li><a href=""> 商品管理</a> </li>
            <li><a href=""> 物流管理</a> </li>
        </shiro:hasRole>

        <shiro:hasRole name="user">
            <li><a href=""> 仅普通用户可见</a> </li>
            <li><a href=""> 公共资源 </a> </li>
        </shiro:hasRole>
    </ul>-->
    <!-- 验证当前用户是否为“访客”，即未认证（包含未记住）的用户。 -->
    <p shiro:guest="">Please <a href="login.html">login</a></p>

    <!-- 认证通过或已记住的用户。 -->
    <p shiro:user="">
        Welcome back John! Not John? Click <a href="login.html">here</a> to login.
    </p>

    <span shiro:principal=""></span>

    <span shiro:authenticated=""> 这里是认证通过后才会显示的哟</span>

    <span shiro:notAuthenticated=""> 这里是就算认证不通过后才会显示的哟</span>

</body>
</html>